* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
}

button {
    font-family: 'Open Sans', sans-serif;
}

button#start {
    font-size: 1rem;
    padding: 1rem 2rem;
}

h1, .grid-square {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100vh / 2);
}

#game-result {
    height: 3rem;
}

.grid-square {
    align-content: center;
    border-bottom: 2px solid #DADCE0;
    border-right: 2px solid #DADCE0;
    display: grid;
    height:  calc((100vh / 2) / 3);;
    justify-content: center;
}

.grid-square:nth-child(1), .grid-square:nth-child(2), .grid-square:nth-child(3) {
    border-top: 2px solid #DADCE0;
}

.grid-square:nth-child(1), .grid-square:nth-child(4), .grid-square:nth-child(7) {
    border-left: 2px solid #DADCE0;
}

.player1 {
    color: rgb(168, 83, 248);
}

.player2 {
    color: rgb(24, 227, 227);
}

#players {
    text-align: center;
}

#players div {
    margin-bottom: 1rem;
}

#players div label {
    margin-right: 1rem;
}