* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

main {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    justify-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
}

.grid-square {
    border: 1px solid black;
    height: 150px;
}